---
import { getEntry, render } from "astro:content";
import config, { monolocale } from "$config";
import Time from "$lib/time";
import Base from "$layouts/Base.astro";
import i18nit from "$i18n";
import Comment from "$components/Comment.svelte";

export async function getStaticPaths() {
	// Create path for each locale, omitting default locale from URL
	return config.i18n.locales.map(locale => ({ params: { locale: config.i18n.defaultLocale === locale ? undefined : locale } }));
}

const { locale = config.i18n.defaultLocale } = Astro.params;

const t = i18nit(locale);

const localePrefix = monolocale ? "" : `${locale}/`;

const introduction = await getEntry("information", `${localePrefix}introduction`);
const linkroll = await getEntry("information", `${localePrefix}linkroll`);
const chronicle = (await getEntry("information", `${localePrefix}chronicle`))?.data;

const { Content: Introduction } = introduction ? await render(introduction) : ({} as any);
const { Content: Linkroll } = linkroll ? await render(linkroll) : ({} as any);

const chronicles = Object.entries<string[]>(chronicle ?? {})
	.map(([date, events]) => ({ date: new Date(date), events: events ?? [] }))
	.sort((a, b) => b.date.getTime() - a.date.getTime());
---

<Base title={t("navigation.about")} {locale}>
	<main class="flex flex-col sm:flex-row justify-between gap-8">
		<article class="flex flex-col">
			{
				introduction && (
					<div class="mb-6">
						<h2 class="mb-4">{t("about.introduction")}</h2>
						<div class="markdown">
							<Introduction />
						</div>
					</div>
				)
			}
			{
				linkroll && (
					<div>
						<h2 class="mb-4">{t("about.linkroll")}</h2>
						<div class="markdown">
							<Linkroll {locale} />
						</div>
					</div>
				)
			}

			<script src="https://giscus.app/client.js"
        data-repo="aric6494/Giscus"
        data-repo-id="R_kgDORAygxw"
        data-category="Announcements"
        data-category-id="DIC_kwDORAygx84C1ZZ_"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="Fro"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
		</script>

		</article>


		
	</main>
</Base>
